@using Adriva.Web.Controls.Abstractions
@{
    ViewData["Title"] = "Home Page";
}
<renderer defer name="bootstrap-grid" property1="test1" property2="test2" asset-delivery-method="OptimizationContext" >
    <div></div>
    <div>
    <grid class="p-4 bg-warning" id="deneme">
        <grid-column>
            <column-template>
                <p>Hello {field}. Naber ?</p>
            </column-template>
        </grid-column>
        <grid-column>
            <column-template></column-template>
        </grid-column>
    </grid>
    </div>
</renderer>