@using Adriva.Web.Controls.Abstractions
@{
    ViewData["Title"] = "Home Page";
}
<renderer defer name="bootstrap-grid" property1="test1" property2="test2" optimization-context-name="WebControls"
assets-only="true">
    <div></div>
    <div>
        <grid id="dd" source="@("https://jsonplaceholder.typicode.com/posts")" height="600" class="table-striped" showdetails="true" detailsformatter="hede">
            <grid-column title="Id" field="id" ishidden="false">
                <column-formatter>
                    (v,r)=>'<b>' + v + '</b>'
                </column-formatter>
            </grid-column>
            <grid-column title="Name" field="title" width=450></grid-column>
            <grid-column title="zsdad" alignment="Center">
                <column-formatter>
                    (v,r)=>'<input type="checkbox" title="' + r.id + '" />'
                </column-formatter>
            </grid-column>
            <grid-pager location="Client" />
        </grid>
    </div>
</renderer>
<script>
    function hede(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
  }
</script>